@import "tailwindcss";

@theme {
  /* Light mode colors (default) */
  --color-accent-1: #fcf7f6;
  --color-accent-2: #faf3f1;
  --color-accent-3: #f7e7e5;
  --color-accent-4: #f9dcd6;
  --color-accent-5: #f7d1ca;
  --color-accent-6: #f3c6be;
  --color-accent-7: #eeb8ae;
  --color-accent-8: #e4a094;
  --color-accent-9: #310100;
  --color-accent-10: #4e1b14;
  --color-accent-11: #884c42;
  --color-accent-12: #410f09;

  --color-gray-1: #f8f8f8;
  --color-gray-2: #f4f4f4;
  --color-gray-3: #ebebeb;
  --color-gray-4: #e2e2e2;
  --color-gray-5: #dbdbdb;
  --color-gray-6: #d3d3d3;
  --color-gray-7: #c8c8c8;
  --color-gray-8: #b5b5b5;
  --color-gray-9: #878787;
  --color-gray-10: #7d7d7d;
  --color-gray-11: #5f5f5f;
  --color-gray-12: #202020;
}

/* Dark mode overrides */
.dark {
  --color-accent-1: #241a18;
  --color-accent-2: #2b1b18;
  --color-accent-3: #49160f;
  --color-accent-4: #600b04;
  --color-accent-5: #6c180f;
  --color-accent-6: #7a261c;
  --color-accent-7: #8e392d;
  --color-accent-8: #ab5346;
  --color-accent-9: #c66b5c;
  --color-accent-10: #b85e50;
  --color-accent-11: #fb9b8b;
  --color-accent-12: #ffcfc5;

  --color-gray-1: #1d1d1d;
  --color-gray-2: #242424;
  --color-gray-3: #2d2d2d;
  --color-gray-4: #333;
  --color-gray-5: #393939;
  --color-gray-6: #414141;
  --color-gray-7: #4d4d4d;
  --color-gray-8: #646464;
  --color-gray-9: #717171;
  --color-gray-10: #7d7d7d;
  --color-gray-11: #b4b4b4;
  --color-gray-12: #eee;
}

@custom-variant dark (&:where(.dark, .dark *));
