@import "tailwindcss";

@theme {
  /* Light mode colors (default) */
  --color-accent-1: #fcf7f6;
  --color-accent-2: #faf3f1;
  --color-accent-3: #f7e7e5;
  --color-accent-4: #f9dcd6;
  --color-accent-5: #f7d1ca;
  --color-accent-6: #f3c6be;
  --color-accent-7: #eeb8ae;
  --color-accent-8: #e4a094;
  --color-accent-9: #310100;
  --color-accent-10: #4e1b14;
  --color-accent-11: #884c42;
  --color-accent-12: #410f09;

  --color-gray-1: #fdfcfd;
  --color-gray-2: #faf9fb;
  --color-gray-3: #f2eff3;
  --color-gray-4: #eae7ec;
  --color-gray-5: #e3dfe6;
  --color-gray-6: #dbd8e0;
  --color-gray-7: #d0cdd7;
  --color-gray-8: #bcbac7;
  --color-gray-9: #8e8c99;
  --color-gray-10: #84828e;
  --color-gray-11: #65636d;
  --color-gray-12: #211f26;
}

/* Dark mode overrides */
.dark {
  --color-accent-1: #241a18;
  --color-accent-2: #2b1b18;
  --color-accent-3: #49160f;
  --color-accent-4: #600b04;
  --color-accent-5: #6c180f;
  --color-accent-6: #7a261c;
  --color-accent-7: #8e392d;
  --color-accent-8: #ab5346;
  --color-accent-9: #c66b5c;
  --color-accent-10: #b85e50;
  --color-accent-11: #fb9b8b;
  --color-accent-12: #ffcfc5;

  --color-gray-1: #121113;
  --color-gray-2: #1a191b;
  --color-gray-3: #232225;
  --color-gray-4: #2b292d;
  --color-gray-5: #323035;
  --color-gray-6: #3c393f;
  --color-gray-7: #49474e;
  --color-gray-8: #625f69;
  --color-gray-9: #6f6d78;
  --color-gray-10: #7c7a85;
  --color-gray-11: #b5b2bc;
  --color-gray-12: #eeeef0;
}

@custom-variant dark (&:where(.dark, .dark *));
