@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-1: #edeeef;
    --gray-2: #e9eaec;
    --gray-3: #dfe0e3;
    --gray-4: #d6d7db;
    --gray-5: #cecfd4;
    --gray-6: #c5c6cd;
    --gray-7: #b9bac3;
    --gray-8: #a5a7b2;
    --gray-9: #787a84;
    --gray-10: #6d6f79;
    --gray-11: #51525b;
    --gray-12: #1e1f24;

    --gray-a1: #d6ebff5c;
    --gray-a2: #b5d8ff3e;
    --gray-a3: #045fcb1c;
    --gray-a4: #02449b25;
    --gray-a5: #0135812d;
    --gray-a6: #052e7337;
    --gray-a7: #03236143;
    --gray-a8: #011b4d57;
    --gray-a9: #000e2b85;
    --gray-a10: #000c2590;
    --gray-a11: #010819ad;
    --gray-a12: #01030ae1;

    --gray-contrast: #ffffff;
    --gray-surface: #ffffffcc;
    --gray-indicator: #787a84;
    --gray-track: #787a84;

    --red-1: #f3eded;
    --red-2: #f0e8e7;
    --red-3: #e9dddc;
    --red-4: #e4d2d1;
    --red-5: #decac8;
    --red-6: #d9bfbe;
    --red-7: #d2b2b0;
    --red-8: #c59b99;
    --red-9: #301313;
    --red-10: #492928;
    --red-11: #694746;
    --red-12: #331616;

    --red-a1: #e2e6ff48;
    --red-a2: #1337fe0b;
    --red-a3: #2c0a6d15;
    --red-a4: #4b013f20;
    --red-a5: #4c042c29;
    --red-a6: #5c052635;
    --red-a7: #60011642;
    --red-a8: #66020f5b;
    --red-a9: #1e0001eb;
    --red-a10: #250101d4;
    --red-a11: #2c0003b4;
    --red-a12: #1f0001e8;

    --red-contrast: #fff;
    --red-surface: #eee6e7cc;
    --red-indicator: #301313;
    --red-track: #301313;

    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --gray-1: #252527;
    --gray-2: #2b2c2e;
    --gray-3: #333437;
    --gray-4: #38393d;
    --gray-5: #3e3f44;
    --gray-6: #45464c;
    --gray-7: #515259;
    --gray-8: #676973;
    --gray-9: #737580;
    --gray-10: #7e808b;
    --gray-11: #b4b6c0;
    --gray-12: #eeeef0;

    --gray-a1: #0064e404;
    --gray-a2: #68cff90c;
    --gray-a3: #a2d6f717;
    --gray-a4: #b0d7f91e;
    --gray-a5: #bcdafb26;
    --gray-a6: #c6ddfe2f;
    --gray-a7: #d1e2fe3e;
    --gray-a8: #d6e4ff5c;
    --gray-a9: #dae3fd6c;
    --gray-a10: #dfe8ff78;
    --gray-a11: #edf1ffb6;
    --gray-a12: #fcfdffee;

    --gray-contrast: #ffffff;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #737580;
    --gray-track: #737580;

    --red-1: #2a2323;
    --red-2: #2f2625;
    --red-3: #472827;
    --red-4: #592929;
    --red-5: #633232;
    --red-6: #703d3c;
    --red-7: #824e4d;
    --red-8: #9c6664;
    --red-9: #b67d7b;
    --red-10: #a97170;
    --red-11: #e5a9a7;
    --red-12: #f7d4d2;

    --red-a1: #d2000003;
    --red-a2: #ef5d4109;
    --red-a3: #fe403925;
    --red-a4: #fc3a3a3b;
    --red-a5: #ff575746;
    --red-a6: #fd6f6c56;
    --red-a7: #ff89866b;
    --red-a8: #ff9d9a8a;
    --red-a9: #ffaba8a9;
    --red-a10: #ffa5a399;
    --red-a11: #febbb9e1;
    --red-a12: #ffdbd9f6;

    --red-contrast: #fff;
    --red-surface: #36282680;
    --red-indicator: #b67d7b;
    --red-track: #b67d7b;

    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  /* * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  } */
}
